@media (max-width:1300px) {
    .header {
        background-color: #22c3a3;
        padding: 10px 25px;
    }
    .fixed-width {
        width: 100%;
    }
    .banner {
       
        padding: 120px;
        margin-left: 0;
    }

    .about-img {
        width: 100%;
        text-align: center;
    }

    .about-content {
        width: 100%;
        text-align: center;
    }
}
@media (max-width:1024px) {
    .header-right ul li a {
        padding: 0 10px;
        line-height: 50px;
    }

    .header-right ul {
        text-align: center;
    }
    .header-right {
     
        width: 100%;
    }
    .header-left {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .banner {
       
        padding: 120px;
        margin-left: 0;
    }
    .item {
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid #767676;
    }
}

@media (max-width:780px) {
    .banner {
        padding: 50px;
    }
    .main-banner h1 {
        margin-bottom: 14px;
        font-size: 25px;
    }
}

@media (max-width:600px) {
    .banner {
        padding: 50px;
    }
}